@import "mixin.scss";

$paddingSides: 23px;
$paddingSidesModile: 14px;

.logo {
    width: 100%;

    cursor: pointer;

    padding: 0 $paddingSides;

    @media (max-width: 650px) {
        padding: 0 $paddingSidesModile;
    }

    & svg {
        max-width: 90px;
        max-height: 21px;

        width: 100%;
        height: 100%;
    }
}

.search {
    width: 100%;

    padding: 0 $paddingSides;

    position: relative;

    @media (max-width: 650px) {
        padding: 0 $paddingSidesModile;
    }

    &Input {
        border-radius: 12px;
        padding: 10px 28px 10px 38px;

        background: var(--Color__BGSearch);

        border: none;

        width: 77%;

        @include font(
            var(--SizeText__Search),
            500,
            "Gilroy",
            var(--LineHeight__Search)
        );
        color: var(--Color__ActiveText);

        &::placeholder {
            @include font(
                var(--SizeText__Search),
                500,
                "Gilroy",
                var(--LineHeight__Search)
            );

            color: var(--Color__DisabledText);
        }
    }

    &::after {
        content: "";
        background: url(../image/UI/searchButton/search.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        width: 13px;
        height: 13px;

        position: absolute;
        top: 50%;
        left: 36px;

        transform: translateY(-50%);
    }
}

.body {
    @include displayFlex(flex-start, flex-start);

    height: 100vh;
    width: 100%;

    background: var(--Color__BGWhite);

    transition: all linear 0.2s;
}

.aside {
    max-width: 337px;
    width: 100%;
    height: 100%;

    border: 1px solid var(--Color__HR);

    @media (max-width: 850px) {
        max-width: 100%;
    }

    &Wrapper {
        @include displayFlex(center, flex-start, column);
        gap: 19px;

        padding: 20px 0;
        height: 100%;

        @media (max-width: 600px) {
            gap: 15px;
        }
    }
}

.main {
    width: 100%;
    height: 100%;

    &Wrapper {
        @include displayFlex(center, flex-start, column);

        height: 100%;
    }

    @media (max-width: 850px) {
        display: none;
    }
}

.personalMessage {
    &List {
        width: 100%;

        @include displayFlex(flex-start, center, column, flow-root);

        overflow: overlay;

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #f9f9fd;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: var(--Color__ScrollBarThumb);
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: #f9f9fd;
        }
    }

    &Item {
        padding: 7px 23px;

        width: 100%;

        cursor: pointer;

        @include displayFlex(flex-start, space-between);
        gap: 35px;

        transition: all linear 0.2s;

        &--Active {
            background: var(--Color__BGSelectedGroup) !important;

            & .personalMessageItem--TitleContent {
                color: var(--Color__ActiveText);
            }

            & .personalMessageItem--Avatar::before {
                content: none;
            }
        }

        &--Content {
            @include displayFlex(flex-start, space-between);
            gap: 10px;

            width: 100%;
        }

        &--Avatar {
            max-width: 36px;
            max-height: 36px;

            width: 100%;
            height: 100%;

            position: relative;

            & img {
                max-width: 36px;
                max-height: 36px;

                width: 100%;
                height: 100%;

                border-radius: 50%;
            }

            &::before {
                content: "";
                width: 7px;
                height: 7px;

                background: var(--Color__OnlineUserCircle);
                border: 1px solid #ffffff;

                position: absolute;
                bottom: 3px;
                right: 1px;

                border-radius: 50%;
            }
        }

        &--Title {
            @include displayFlex(flex-start, space-between, column);

            width: 100%;

            &Name {
                @include font(
                    var(--SizeText__TitleNameGroup),
                    600,
                    "Gilroy",
                    var(--LineHeight__TitleNameGroup)
                );

                color: var(--Color__TitleNameGroup);

                max-width: 170px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &Content {
                @include font(
                    var(--SizeText__ContentMessage),
                    600,
                    "Gilroy",
                    var(--LineHeight__ContentMessage)
                );

                color: var(--Color__DisabledText);

                max-width: 170px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &--Time {
            @include displayFlex(center, flex-end);

            max-width: 40px;
            width: 100%;

            @include font(
                var(--SizeText__TimeContent),
                400,
                "Gilroy",
                var(--LineHeight__TimeContent)
            );
            color: var(--Color__DisabledTime);

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            background: rgba(238, 238, 238, 0.5);
        }
    }
}

.titleMainGroupSelected {
    @include displayFlex(center, flex-start);
    gap: 12px;

    padding: 9px 20px;

    width: 100%;

    border-bottom: 1px solid var(--Color__HR);

    &--Img {
        max-width: 42px;
        max-height: 42px;

        width: 100%;
        height: 100%;

        border-radius: 50%;
    }

    &--Title {
        @include font(
            var(--SizeText__SelectedTitleNameGroup),
            600,
            "Gilroy",
            var(--LineHeight__SelectedTitleNameGroup)
        );

        max-width: 600px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.chat {
    width: 100%;
    height: 100%;

    padding: 0 20px 25px;

    @include displayFlex(flex-start, flex-start, column);
    gap: 18px;

    overflow: overlay;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--Color__ScrollBarThumb);
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f9f9fd;
    }

    .departureDate {
        @include displayFlex(center, center);
        gap: 24px;

        width: 100%;

        margin-top: 7px;

        &--Hr {
            width: 100%;

            border: 1px solid var(--Color__HR);
            background: var(--Color__HR);
        }

        &--Time {
            @include font(
                var(--SizeText__TimeContent),
                400,
                "Gilroy",
                var(--LineHeight__DepartureDateTime)
            );

            color: var(--Color__DisabledText);
        }
    }

    .userMessage {
        @include displayFlex(flex-start, flex-start);
        gap: 10px;

        max-width: 85%;
        width: auto;

        &--Avatar {
            max-width: 24px;
            max-height: 24px;

            width: 100%;
            height: 100%;

            & img {
                max-width: 24px;
                max-height: 24px;

                width: 100%;
                height: 100%;

                border-radius: 50%;
            }
        }

        &--Content {
            &Block {
                @include displayFlex(flex-start, flex-start, column);
                gap: 4px;

                width: 100%;

                padding: 12px 18px 6px;
                border-radius: 0px 16px 16px 16px;

                background: var(--Color__BGContentMessage);
            }

            &Message {
                @include font(
                    var(--SizeText__MainText),
                    400,
                    "Gilroy",
                    var(--LineHeight__MainText)
                );
                color: var(--Color__TitleNameGroup);
            }
        }

        &--Time {
            @include font(
                var(--SizeText__TimeContent),
                300,
                "Gilroy",
                var(--LineHeight__TimeContent)
            );

            color: var(--Color__DisabledText);
        }
    }

    .yourMessage {
        max-width: 85%;
        width: auto;

        align-self: flex-end;

        &--Content {
            &Block {
                @include displayFlex(flex-end, flex-end, column);
                gap: 4px;

                padding: 12px 18px 6px;
                border-radius: 16px 16px 0px 16px;

                background: var(--Color__BGContentMessage);
            }

            &Message {
                @include font(
                    var(--SizeText__MainText),
                    400,
                    "Gilroy",
                    var(--LineHeight__MainText)
                );
                color: var(--Color__TitleNameGroup);

                text-align: right;
            }
        }

        &--Time {
            @include font(
                var(--SizeText__TimeContent),
                300,
                "Gilroy",
                var(--LineHeight__TimeContent)
            );

            color: var(--Color__DisabledText);
        }
    }
}

.enterMessage {
    &Wrapper {
        @include displayFlex(center, space-between);
        gap: 12px;

        border-top: 1px solid var(--Color__HR);
        box-shadow: 0px -1px 0px #eeeeee;

        width: 100%;

        padding: 0 6px;
        padding-right: 11px;
    }

    &--Input {
        border: none;
        width: 100%;
        height: 100%;

        padding: 12px 6px;

        @include font(
            var(--SizeText__MainText),
            400,
            "Gilroy",
            var(--LineHeight__MainText)
        );

        &::placeholder {
            @include font(
                var(--SizeText__MainText),
                400,
                "Gilroy",
                var(--LineHeight__MainText)
            );
        }
    }
}
